.container
  %a.show_links.btn.btn-primary{"aria-controls" => "collapseLinks", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseLinks", :role => "button"}
    Links
  %a.show_links.btn.btn-primary{"aria-controls" => "collapsCategories", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseCategories", :role => "button"}
    Categories

  = link_to "translate", page_path(@translate)

  #collapseLinks.collapse
    .well
      - @links.each do |link|
        %li.page-link
          = link_to link.name, page_path(Page.find_by_url(link.url).id) unless Page.find_by_url(link.url) == nil

  #collapseCategories.collapse
    .well
      = render 'categories/list_categories', categories: @page.categories

= render "pages/page"
