.container
  - @links.each do |link|
    %li.page-link
      = link_to link.name, page_path(Page.find_by_url(link.url).id) unless Page.find_by_url(link.url) == nil



= render "pages/page"

= render 'categories/show', categories: @page.categories