.container
  - @words.each do |word|
    %li.word
      %p
        =link_to word.definition, page_path(word.page_id)
        = word.content

  %ul.pagination.pagination_wrap
    = will_paginate @words, :inner_window => 1, :outer_window => 0, :renderer => BootstrapPagination::Rails, :previous_label => '&larr;'.html_safe, :next_label => '&rarr;'.html_safe